<% purchase = Purchase.find_by(id: params["id"]) %>

<h1>Editing User Purchase Details</h1>

<div class="row">
  <div class="col-sm-4">

    <%= form_tag "/purchases/#{purchase.id}", method: "patch" do %>

      <p>Concert ID: <input value="<%= purchase.concert_id %>" name="concert_id" type="text" autofocus class="form-control"></p>
      <p>User ID: <input value="<%= purchase.user_id %>" name="user_id" type="text" autofocus class="form-control"></p>

      <button class="btn btn-primary">Update Purchase Infomation</button>

    <% end %>

  </div>
</div>
